.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d{ 
 	padding-top: 1em; padding-bottom: 1em; text-align: center; 
 }
 
.ui-checkbox .ui-btn-inner {
	background-color: #DDDDDD;
	border-color: #DDDDDD;
	border: 0px; 
}

.page{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3399cc),color-stop(0%, #3399cc), color-stop(100%, #3399cc)); /* Safari 4+, Chrome 2+ */
	width: 100%;
	
}

.landPageStyle{
 	position:absolute;top:0px;right:-2px;left:-2px;bottom:0px;
 	z-index:1040;display:-webkit-box;display:flex;
 	-webkit-box-orient:vertical;-webkit-box-direction:normal;
 	flex-direction:column;-webkit-box-pack:justify;
 	justify-content:space-between;flex-wrap:nowrap;
 	height:483px;background-color:#e6e6e6;
 	-webkit-box-shadow:0 2px 14px rgba(0,0,0,.5);
 	box-shadow:0 2px 14px rgba(0,0,0,.5); 	
 	border:8px solid #3d86ff;
 }

.landTableStyle{
	margin-left: -2px;
	margin-right:0px !important;
	width: 100%;
	/*height:520px;*/
	border-spacing: 0; 
    border-collapse: collapse;    
}

.landMessage{
	padding-top:0px;
	padding-left:30px;
	font-size:32px;
	font-family:sans-serif;
	line-height:38px;
	color:#000;
}

.landRedButtonStyle{
	width: 220px;
	height:60px;
	margin-top:-10px;
	margin-left:55px;
	line-height:20px;
	color: white;
	background: #FF0000;
	font-size:30px;
	font-family:sans-serif;
}

.landBottomButtonStyle{	
	width:220px; 
	height:60px;
	margin-left:55px;
	margin-bottom:30px;
	background: #585858;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.5);
	box-shadow:0 1px 1px rgba(0,0,0,.5);
	border:none;border-radius:5px;
	font-size:30px;
	font-family:sans-serif;
	line-height:20px;
	color:#fff;
}


.jumpMessage{
	padding-top:80px;
	align:center;
	text-align:center;
	font-size:25px !important;
}

.jumpLeft{
	width:100%;
	align:center;
	text-align:center;
	padding-top:250px;
}

.jumpRight{
	width:130px; 
	margin-top:120px;
	background: #A9A9A9;
}

.jumpRightPaneAlignmentStyle{
	background-color:#E9ECE9;
	margin-left: -2px;
	margin-right:0px !important;
	width: 100%;
	height:530px;
}

.jumpButtonLeftPadding{
	width:440px;
}

.app-image-div{
	margin-top: 11%; 
	width: 105px; 
	height: 100px; 
	padding-left: 20px;
	margin-bottom: 20%;
}
.rounded-left-div{
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px
}
.rounded-right-div{
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px
}
.label{
	background-color:#E9ECE9;
	width:21%;
	height: 36.5px;
	padding-left:15px;
	margin-top:8px;
	line-height: 36px;
	font-family: Arial;
	color:#333333;
	font-size: 16px;
	float: left;
}

.scanPropertyElementStyle{
	background-color:#E9ECE9;
	width: 55%;
	float: left;
	margin-top:-5px;
}

.scanFormTextInput {
	width: 90%;
	height:35px;
	background: #ffffff;
	font: 18px Arial; 
	outline: none; /*Remove Chrome and Safari glows on focus*/
}

.scanPropertyRowStyle{
	background-color:#E9ECE9;
	width: 1025px;
	float: left;
}

.scanFormReadOnlyText {
	height:43px;
	border: 1px solid #f6f6f6;
	border-radius: 5px;
	font-family:Arial;
	color: #898989;
	outline: none; 
}

.scanToEmailAddress{
	width:640px !important;
	font-size:20px !important;
	font-family:Arial !important;
	font-weight:normal !important;
	color:#A9AAA9 !important;
	background:#f6f6f6 !important;
	padding-left:6px !important;
	margin-left:-7px !important;
	margin-top:-7px !important;
}

.scanToFolder{
	color:#A9AAA9 !important;
	font-size:20px !important;
	font-family:Arial !important;
	font-weight:normal !important;
	width:495px !important;
	background:#f6f6f6 !important;
	padding-left:6px !important;
	margin-left:-7px !important;
	margin-top: -5px !important;
}

.scanFormReadOnlyTextBrowserBased{
	margin-top:15px;
}

.ocrSendScannedImageCheckBox{
	height: 35px;
	float: left;
	margin-left:107px;
}

.fileNameInput {
	width:80px;
	height:45px;
	background: #ffffff;
	font: 19px Arial; 
	outline: none; /*Remove Chrome and Safari glows on focus*/
}


.fileNameLabelPadding{
	background-color: #ffffff;
	width: 16%;
	height: 37.5px;
	line-height: 38px;
	font-family: Arial;
	color:#333333;
	font-size: 17px;
	float: left;
	margin-top:21px;
}

.fileNameInputDivPadding{
	background-color: #ffffff;
	width: 84%;
	float: left;
	margin-top:11px;
}

/* 
#bgPopup - this is referring to the element that will cover the whole page  
behind the popup and above the rest of the page. 
NOTE: if you are using z-index on the same level in the DOM -  
    #bgPopup z-index needs to have the second highest value (behind #Popup) 
*/  
.bgPopup{  
    display:none;   
    position:fixed;     
    height:520px;    
    width:1024px;    
    top:0;    
    left:0;    
    background:#000000;     
    z-index:3;    
}    
  
/* 
#Popup - The popup container 
NOTE: if you are using z-index on the same level in the DOM -  
    #Popup z-index needs to have the highest value. 
*/  
.registerPopup{    
    display:none;    
    background:#fff;    
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
    height:250px;    
    width:500px;    
    z-index:4;    
}

.UserListPopup{ 
    overflow:auto;
    background:#fff;    
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
    height:400px;    
    width:680px;    
    z-index:10;    
}

.UserListPopupListView{
	height:308px !important; 
	overflow:auto !important;
}

.FolderSetPopupListView{
	height:345px;
	overflow:auto;
}

.folderNameMessage{
	font-size:20px;
}

.loginHeaderBackgroundStyle{
border-top-left-radius: 4px; 
border-top-right-radius: 4px; 
height: 43px; 
line-height: 43px;
background-color: #e5e5e5;
}

.loginheaderFontStyle{
display: inline;
font-family:Arial;
font-weight:normal;
color:#333333;
}

.registrationButtonGroupHeight{
	height: 33px;
	margin-top:30px;
}

.loginInput {
	margin-top:0px; 
	height:40.5px;
	width:70%;
	background: #ffffff;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	font: 19px Arial; color: #898989;
	outline: none; /*Remove Chrome and Safari glows on focus*/
}

.folderNameInput{
	margin-top:0px; 
	height:40.5px;
	width:75%;
	background: #ffffff;
	font: 19px Arial; color: #898989;
	outline: none; /*Remove Chrome and Safari glows on focus*/
}	

.popUpHeader {
	height:100%;
	padding-top:5px;
	font: italic 18px Georgia; color: black;
	outline: none; /*Remove Chrome and Safari glows on focus*/
}

.loginButtonStyle {
		width:200px;
		height:50px;
		line-height:20px;
		cursor: pointer;
		border: 1px solid #77d3ef;
		padding: 2% 5%;
		color:#ffffff;
		background: #3399cc;
		border-radius: 5px;
		box-shadow: 0 3px 0 0 rgb( 0, 51, 102 );
		font-size:19px;
		font-weight:bold;
}
.cancelButtonStyle {
		width:200px;
		height:50px;
		line-height:20px;
		cursor: pointer;
		border: 1px solid #999999;
		padding: 2% 5%;
		color:#ffffff;
		background: #999999;
		border-radius: 5px;
		box-shadow: 0 3px 0 0 rgb( 51, 51, 51 );
		font-size:19px;
		font-weight:bold;
}

.saveFolderButtonStyle {
		width:200px;
		height:50px;
		line-height:20px;
		border: 1px solid #3399cc;
		color:#ffffff;
		background: #3399cc;
		border-radius: 0.25em !important;
		box-shadow: 0 3px 0 0 rgb( 0, 51, 102 );
		font-size:19px;
		font-weight:bold;
}
.cancelFolderButtonStyle {
		width:200px;
		height:50px;
		line-height:20px;
		border: 1px solid #999999;
		color:#ffffff;
		background: #999999;
		border-radius: 0.25em !important;
		box-shadow: 0 3px 0 0 rgb( 51, 51, 51 );
		font-size:19px;
		font-weight:bold;
}

.scanFolderNameDivPadding{
	margin-top:15px;
}

.appHeaderSpanStyle{
	color:#999999;
}

.scanButtonDivStyle{
	background-color:#E9ECE9;
	margin-left:0px;
	margin-top:370px;
	height:62px;
	width:100%;
	padding-top:1px;
	font-size:30px;
}

.scanButtonLeftPadding{
	width:220px;
}

.scanButtonStyle {
	margin-top:1.5px;
	margin-right:20px;
	padding-right:5px;
	width:130px;
	height:47px;
	line-height:20px;
	background: #5dae0d;
	box-shadow: 0px 4px 0px 0px rgb(68,128,10);
	border-radius: 8px;
	color:#ffffff;
}

.cancelButtonStyle {
	margin-top:3px;
	width:130px;
	height:47px;
	line-height:20px;
	background: #5dae0d;
	box-shadow: 0px 4px 0px 0px rgb(153,153,153);
	border-radius: 8px;
	color:#ffffff;
}

.homeButtonDivStyle{
	margin-left:-15px; 
	margin-right:-1px;
	height: 59px;
	width:120%;
	border-top:1px solid #4cabdb;
	border-bottom:1px solid #2a7da7;
}

.leftPaneAlignmentStyle{
	background-color: #ffffff;
	float: left;
	width:25%;
}

.registerContent{
	width:1025px;
	margin-left:-5px; 
}

.rightPaneAlignmentStyle{
	background-color:#E9ECE9;
	margin-left: -10px;
	margin-right:-10px !important;
	width: 1050px;
	height:505px;
}

.homeIconStyle{
	float:left;
	margin-left:42px;
	margin-top:18px;
	width : 18px;
	height : 18px;
}

.leftPaneButtonSpan{
font-size: 21px;
margin-left:75px;
font-family:Arial;
color: #ffffff;
font-weight:normal;
margin-top:15px;
display: block;
white-space: nowrap;
}

.folderHeaderBackgroundStyle{
	border: 1px solid #EEEEEE;
	background:#EEEEEE;
}

.folderHeaderFontStyle{
	color:#646564;
	text-shadow:none !important;
}

.folderHeaderButtonStyle{
	background:none !important;
	border:none !important;
	box-shadow: none !important;
	padding-right:10px;
	
}
.createFolderPopup {
	overflow: auto;
	position: fixed;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.9);
	top: 6%;
	bottom: 15%;
	right: 6%;
	left: 6%;
	height: 200px;
	width: 400px;
	z-index: 999;
}
.folderSelectBtn{
	line-height: 2px;
	opacity: 1;
	height: 37px;	
	border: 1px solid #999999;
	border-radius:4px;
	box-shadow: 0 0 5px #737373;
	margin: 0 auto;
	background:url('../images/folder_icon.png') center no-repeat;
	background-color:#999999;
	margin-top: 11px;
}
.hideDiv{
	visibility: hidden;
	display: none;	
}

.scanSettingsViewDivStyle{
	float: left; 
	width:100%;
}

.userInfoDiv{
	width: 100%; 
	height: 35px; 
	float: left;
	margin-top:-5px;
}

.folderSelectionDivStyle{
	width:15%;
	float:right;
}

.colorDuplexElementStyle{
	width: 25% !important;
}

.duplexLabelPadding{
	width: 15% !important;	
}

.colorDuplexDivPadding{
	width: 20% !important;	
}

.folderDivStyle{
	width: 65%;	
}

.emailAddressDivStyle{
	height: 45px;
	padding-top:10px;
}

.folderNameTableStyle{
	width: 80%; 
	margin: 0 auto;
}

.folderNameTableRowStyle{
	background-color: white;
}

.folderTableImageStyle{
	width:100px; 
	height: 100px;
}

.cancelInline{
	float: left;
	margin-left: 120px;
	margin-right: 60px; 
	background: #999999;
	box-shadow: 0px 4px 0px 0px rgb(153,153,153);
}

.submitInline{
	margin-left: 555px;
	margin-right: 0px; 
}

.formHeader{
	text-align: center; 
	margin-left: 0px; 
	padding-left: 40px; 
	padding-top: 30px; 
	width:1015px;
	background-color: #E9ECE9; 
	height: 45px;
	margin-top:-14px !important;;
}

.headerSpan{
	font-size: 25px; 
	padding-right: 40px;
}

.inputMargin{
	margin-top:10px;
	margin-left:60px;
}


.textLogoClass{
	color: white !important;
	padding-top: 220px !important;
}

.textlogoP{
	font-size: x-large;
	text-align: center;
}